$sw_yellow:#FFD700!default;

.filters {
  font-family: var(--font-mono);
  text-transform: uppercase;
  color: $sw_yellow;
  margin: 0 auto;
  padding: 20px;
  background-color: #202020;
  border: 2px solid $sw_yellow;
  border-radius: 10px;
  margin-bottom: 40px;
}

.filters div {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.filters label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.filters input[type="text"],
.filters select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #444;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
.filters select option {
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 0px $sw_yellow;
}

/* labels for dual slider */ 
.labels {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  margin: 0!important;
}
.label {
  position: relative;
  top: 14px;
}

.list {
  font-family: var(--font-mono);
  color: $sw_yellow;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  list-style-type: none;
  max-width: 600px;
}